<!-- Footer Start -->
<div class="container-fluid bg-secondary py-5 px-sm-3 px-md-5" style="margin-top: 90px;">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-uppercase text-light mb-4">Repair'Car</h4>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-white mr-3"></i>Andraharo City Batiment 1</p>
            <p class="mb-2"><i class="fa fa-phone-alt text-white mr-3"></i>+261 34 54 534 34</p>
            <p><i class="fa fa-envelope text-white mr-3"></i>repaircar.mg</p>
            <h6 class="text-uppercase text-white py-2">Suivez-nous</h6>
            <div class="d-flex justify-content-start">
                <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-dark btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
        </div>

        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="text-uppercase text-light mb-4">Votre question</h4>
            <p class="mb-4">Tapez ici vos questions et nous vous répondrons le plutôt possible</p>
            <div class="w-100 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control bg-dark border-dark" style="padding: 25px;" placeholder="Your Email">
                    <div class="input-group-append">
                        <button class="btn btn-primary text-uppercase px-3">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark py-4 px-sm-3 px-md-5">
    <p class="mb-2 text-center text-body">&copy; <a href="#">Repair'Car</a>. Tout droit réservé.</p>
    <p class="m-0 text-center text-body">Designed by <a href="https://htmlcodex.com">Olyvia et Alex</a></p>
</div>
<!-- Footer End -->
