.btn-70{
    width: 70px;
    height: 70px;
    padding: 0 10px;
}
.j-border{
    border: 1px solid #e5e5e5;
}

.j-border-menu{
    border: 3px solid #ff7900;
}
.j-border-btn{
    border: 1px solid #ff7900;
    color: #ff7900;
}
.j-form-login{
    width: 250px;
}
.btn-orange, .btn-orange-spinner{
    background-color: #ff7900;
    color: #ffffff;
}
.j-orange{
    color: #ff7900 !important;
}
.j-btn-black{
    background-color: #000;
    color: #ff7900;
}

.btn-orange:hover{
    background-color: #000;
    color: #ff7900;
}
.j-mb{
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    height: calc(100% - 82px);
}
.j-ct{
    min-height: 50%;
}
.uk-navbar-container:not(.uk-navbar-transparent){
    /*background-color: #fff;*/
    padding-left: 20px;
    background-color: #000;
    height: 120px;
}

a:hover{
	text-decoration:none;
	color : #ff7900;
}
.uk-offcanvas-container {
    position: absolute;
}

.uk-offcanvas-bar{
    background-color: rgb(53, 51, 51);
}

.copysize{

    max-width: 700px !important;

}
.cardborder{
    border: 1px solid #ff7900;;
}

.uk-text-large-johny{
    font-size: xx-large;
}



.uk-progress::-webkit-progress-bar {
    background-color: #f8f8f8;
  }
  /* 2 */
  .uk-progress:indeterminate::-moz-progress-bar {
    width: 0;
  }
  
  /*
   * Progress bar
   * 1. Remove right border in IE11 and Edge
   */
  .uk-progress::-webkit-progress-value {
    background-color: #ff7900;
  }
  .uk-progress::-moz-progress-bar {
    background-color: #ff7900;
  }
  .uk-progress::-ms-fill {
    background-color: #ff7900;
  }

  .black-background{
    background-color: #000;
  }
  .left-menu{
     /* min-width: 80px;*/
      background-color: #000;
  }
  .left-toggle{
      color: #fff;
      padding-left: 15;
  }
  .uk-navbar-nav>li>a {
      color: #fff;
   
  }

  .black > svg{
      color: black;

  }

  .icon-menu{
      width: 40px;
      height: 40px;
  }
  
  .j-padding{
      padding-left: 23px;
      padding-right: 23px;
      padding-top: 25px ;
  }

  .li-lef{
      height: 46px;
      color: #fff;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
      font-size: 14px;
      list-style: none !important;
  }

  .li-left::marker{
    list-style: none !important;
  }

  *, .j-font{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  }

  .first-ul .listestyle{
      display: none;
  }

  .listestyle{
      list-style: none;
  }

  .left-menu .first-ul{
      display: none;
  }


  .left-menu:hover .first-ul{
    display: block;
  }



  .first-ul:hover .listestyle{
    display: block;
}


.li-lef a{
    color:  #fff;
}

angular-editor-toolbar button i {
    font-family: FontAwesome !important;
    color: #474d6d !important;
    
}

.angular-editor-textarea{
    min-height: 300px i !important;
}

.extrai-txt{
    width: 340px !important;
}

.j-black{
    color: #000 !important;
}
.txt-email{
    width: 100%;
    margin-top: 0;
    margin-bottom: 2px;
}
.jw-100{
    width: 100%;
}


.j-paddin{
    margin-bottom: 2px !important;
}

.j-border-mail{
    border: 1px solid #ff7900;
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.mail-subject{
    width: 881px;
}

.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
    background-color: #ff7900 !important;
}
.angular-editor{
    width: 100%;
}
.jw-1000 {
    width: 1000px;
}
/*********************************
#triangle {
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 30px solid blue;
}
*********************************/
.jw-75{
    width: 75%;
}

.j-boutton{
    background-color: #ff7900 !important;
    color: #000 !important;
    border: 1px solid #ff7900;
}

.j-background{
    background-color:#fff;
}

.uk-checkbox, .uk-input, .uk-radio, .uk-select, .uk-textarea{
    border-radius: 5px;
    border-color: #000;
}

.uk-button{
    border-radius: 5px;
}

.jt-radius{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.jb-radius{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.j-border-spinner{
    border: 3px solid #ff7900 !important;
    width: 200px !important;
    height: 200px !important;
}

.t-fff{
    color: #fff;
}