<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Repair'Car</title>
    <link rel="stylesheet" href="styles/myStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <!--Begin Header-->
    <div class="header">
      <h1 class="title-header basic-text">Repair' Car</h1>
      <p class="small-text basic-text">Do you need your car repaired ? We can help you fix it...</p>
      <div class="header-content">
        <a href="#">Home</a>
        <a href="#">My Space</a>
        <a href="#">Repair Advancement</a>
        <a href="#">Paiement</a>
        <a href="#">Book Now</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
    <!--End Header-->
    <!--Begin Body-->
    <div class="body-content">
      <h2>Body Body</h2>
      <div class="">
        <div class="">
          Nom
        </div>
        <div class="">
          Solde: 5000$;
        </div>
      </div>
    </div>
    <!--End Body-->
    <!--Begin Footer-->
    <div class="footer basic-text">
      <span>Olyvia Hasina</span>
      <span>Tendry Alex</span>
    </div>
    <!--End Footer-->
  </body>
</html>
