<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Repair'Car</title>
    <link rel="stylesheet" href="styles/myStyle.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="assets\jquery\jquery.min.js"></script>
    <script src="assets\bootstrap\js\bootstrap.bundle.min.js"></script>
    <script src="assets\bootstrap\js\bootstrap.min.js"></script>
  </head>
  <body>
    <!--Begin Header-->
    <div class="header">
      <h1 class="title-header basic-text">Repair' Car</h1>
      <p class="small-text basic-text">Do you need your car repaired ? We can help you fix it...</p>
      <div class="header-content">
        <a href="#">Home</a>
        <a href="#">My Space</a>
        <a href="#">Repair Advancement</a>
        <a href="#">Paiement</a>
        <a href="#">Book Now</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
    <!--End Header-->
    <!--Begin Body-->
    <div class="body-content">
      <!--Begin Profile-->
      <div class="mini-profile">
        <div class="mini-name">
          <span class="mini-img"></span><a href="#">Jerry</a>
        </div>
        <div class="mini-solde" align="center">
          <small>Solde: 5000$</small>
        </div>
      </div>
      <!--End Profile-->
      <h2 align="center">Welcome</h2>
      <div class="body-divide">
          <!--Begin Car-->
          <div class="info-car">
            <div class="info-title basic-text">
              <h4>Tesla, Tesla Y</h4>
            </div>
            <div class="info-body">
              <table align="center">
                <tr>
                  <td><b>Name:</b></td>
                  <td>Tesla</td>
                </tr>
                <tr>
                  <td><b>Model:</b></td>
                  <td>Tesla</td>
                </tr>
                <tr>
                  <td><b>Version:</b></td>
                  <td>--</td>
                </tr>
                <tr>
                  <td><b>Year:</b></td>
                  <td>2022</td>
                </tr>
                <tr>
                  <td><b>Gas Type:</b></td>
                  <td>Hybrid</td>
                </tr>
              </table>
            </div>
            <div class="info-stat">
              <p>
                <b>Advancement: </b> 86% <br>
                <progress value="86" max="100">86%</progress>
              </p>
            </div>
          </div>
          <!--End Car-->
          <!--Begin Car-->
          <div class="info-car">
            <div class="info-title basic-text">
              <h4>List of Work</h4>
            </div>
            <div class="info-body basic-text">

            </div>
            <div class="info-stat basic-text">

            </div>
          </div>
          <!--End Car-->
      </div>
    </div>
    <!--End Body-->
    <!--Begin Footer-->
    <div class="footer basic-text">
      <span>Olyvia Hasina</span>
      <span>Tendry Alex</span>
    </div>
    <!--End Footer-->
  </body>
</html>
