<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <div class="border" align="center">
      <h3>Log In</h3><br>
      <form class="">
        <div class="">
          <label for=""><b>Email: </b></label><br>
          <b><input class="input-form" type="text" name="" value=""></b>
        </div><br>
        <div class="">
          <label for=""><b>Password: </b></label><br>
          <b><input class="input-form" type="password" name="" value=""></b>
        </div><br>
        <button class="btn btn-success" cltype="submit" name="button">Log In</button>
      </form>
    </div>
  </div>
  <div class="col-md-4">

  </div>
</div>
