<app-header-home></app-header-home>

<app-search-car></app-search-car>

<div class="">
  <table border="1" align="center" width="65%">
    <tr>
      <th>Repair Name</th>
      <th>Cost</th>
      <th>Duration</th>
    </tr>
    <tr>
      <td>Motor</td>
      <td>159$</td>
      <td>3d</td>
    </tr>
    <tr>
      <td>Pipe</td>
      <td>50$</td>
      <td>2d</td>
    </tr>
    <tr>
      <td>Tire Support</td>
      <td>75$</td>
      <td>4d</td>
    </tr>
  </table>
</div>

<app-footer-home></app-footer-home>
