<app-header-home></app-header-home>

<div class="main-index" align="center">
    <div class="example-container" align="center">
      <h2>Waiting List</h2>

      <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>
        <div class="">
          Make: {{item.make}}
        </div>
        <div class="">
          Model: {{item.model}}
        </div>
        <div class="">
          Year: {{item.year}}
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
      <h2>Garage</h2>

      <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done">
        <div class="">
          Make: {{item.make}}
        </div>
        <div class="">
          Model: {{item.model}}
        </div>
        <div class="">
          Year: {{item.year}}
        </div>
      </div>
    </div>
  </div>

  <!-- Start confirm -->
  <div class="">
    <button class="btn btn-primary" (click)="confirmManagement()" type="button" name="button">Confirm</button>
  </div>
  <!-- End confirm -->
</div>

<app-footer-home></app-footer-home>
