.header{
  position: sticky;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  background-color: #051a3b;
  align-items: center;
  align-content: center;
  text-align: center;
  color: white;
  /*background-image: url("../img/meca1.jpg");
  background-size: cover;*/
}

.title-header{
  transform: translateY(24px);
}

.small-text{
  margin-top: 50px;
  margin-bottom: 30px;
}

.header-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*margin-top: 100px;*/
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  border: grey groove 2px;
  padding: 10px;
  color: #0b8f40;
}
