body{
  font-family: arial;
}

.basic-text{
  color: white;
}

a{
  color: #0b8f40;
}

.header{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  background-color: #051a3b;
  align-items: center;
  align-content: center;
  text-align: center;
  /*background-image: url("../img/meca1.jpg");
  background-size: cover;*/
}

.title-header{
  position: sticky;
  top: 6%;
}

.small-text{
  margin-top: 50px;
  margin-bottom: 30px;
}

.header-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*margin-top: 100px;*/
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  border: grey groove 2px;
  padding: 10px;
}

.body-content{
  position: relative;
  margin-top: 210px;
  margin-bottom: 10px;
  height: 900px;
  padding: 40px;
}

.footer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #051a3b;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: 100px;
}

/*Profile*/
